A3/LoginWorkFlowService/WorkflowMessagingApplication/Connected Services/MessagingService/MessagingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessagingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Messenger/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Messenger/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Messenger/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_sendMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessages" />
  </wsdl:message>
  <wsdl:message name="IService_sendMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_receiveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveMessage" />
  </wsdl:message>
  <wsdl:message name="IService_receiveMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/sendMessage" message="tns:IService_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/sendMessageResponse" message="tns:IService_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/sendMessages" message="tns:IService_sendMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/sendMessagesResponse" message="tns:IService_sendMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/receiveMessage" message="tns:IService_receiveMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/receiveMessageResponse" message="tns:IService_receiveMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IService/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessages">
      <soap:operation soapAction="http://tempuri.org/IService/sendMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <soap:operation soapAction="http://tempuri.org/IService/receiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagingService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Messenger/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>